@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>This sample show the use of <a href="https://mozilla.github.io/pdf.js/">pdf.Js</a> library for rendering PDF in the browser itself.</p>

<div id="pdf-viewer" class="pdfViewer"></div>

@section scripts{

    <script type="text/javascript">
        const url = '@Url.Content("~/Content/report.pdf")';
        const loadingTask = pdfjsLib.getDocument(url);
        loadingTask.promise.then(function(pdf) {
            pdf.getPage(1).then(function(page) {
                const scale = 1.5;
                const viewport = page.getViewport({ scale: scale });

                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                document.getElementById('pdf-viewer').appendChild(canvas);

                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };
                page.render(renderContext);
            });
        });
    </script>
}

